.footer {
  background-color: #147099;
  color: white;
  margin-bottom: 0px;
}

.footer-container {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.subscribe-section {
  display: flex;
  flex: 1;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.subscribe-section h2 {
  margin: 0;
  font-family: "Geologica";
  font-weight: 500;
  font-size: 28px;
  line-height: 35.2px;
  margin-bottom: 10px;
}

.subscribe-section p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 16px 0 20px 0;
  color:white; 
}

.email-input {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 16px;
  width: 100%; 
}

.email-input input {
  padding: 12px 20px;
  padding-right: 120px;
  border-radius: 100px;
  border: 2px solid white;
  background-color: transparent;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 400px;
  margin: 0%; 
  display: flex;
  justify-content: flex-start;
}

.email-input input::placeholder {
  color: #cccccc;
}

.email-input button {
  background: white;
  color: #1e6788;
  border: none;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20.83px;
  width: 100%;
  max-width: 200px;
}

.social-icons {
  display: flex;
  gap: 20px; 
  justify-content: center; 
}

.social-icons img {
  width: 18px;
  height: 18px;
}

.social-icons span {
  font-family: "HvDTrial Pluto";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.links-section {
  display: flex;
  flex: 1;
  justify-content: space-around;
  min-width: 100%;
  margin-left: 0; 
  flex-wrap: wrap;
  gap: 20px;
}

.links-section .mission {
  max-width: 100%; 
  text-align: justify;
}

.links-section .mission p {
  width: 100%; 
  font-family: "Geologica";
  font-size: 14px; 
  line-height: 24px;
  font-weight: 100;
  text-align: center;
  color: white;
}

.links-section .mission h2 {
  font-family: "Geologica";
  font-weight: 500;
  font-size: 20px; 
  line-height: 28px;
  text-align: center; 
}

.links-section li {
  margin: 12px 0; 
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 20p;
  text-align: center;
}

.footer-bottom {
  margin-top: 20px;
  width: 100%;
  margin-left: 0; 
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0%;
}

.footer-bottom p {
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 12px; 
  line-height: 18px;
  text-align: center; 
  width: 100%; 
  margin-right: 320px;
  color: white;
}

.logo-section img {
  width: 80px;
  margin-left: 320px;
}

.payment-icons img {
  width: 30px;
  margin: 0 6px 0 0;
}

@media (min-width: 768px) {
  .subscribe-section {
    min-width: 300px;
    align-items: flex-start; 
    text-align: left; 
  }

  .email-input {
    flex-direction: row;
  }

  .email-input input {
    width: auto;
    padding-right: 50px;
  }

  .email-input button {
    width: auto;
  }

  .links-section {
    min-width: auto; 
    margin-left: 40px; 
    justify-content: space-between;
  }

  .links-section .mission {
    text-align: left;
  }

  .links-section li {
    text-align: left;
  }


  .footer-bottom p {
    width: auto;
    text-align: left;
    margin-right: 40px;
  }
  .logo-section img {
    width: 80px;
    margin-left: 40px; 
  }
}
@media (max-width: 767px) {
  .email-input input {
    width: auto; 
    padding-right: 100px;
  }
  .footer-bottom p {
    width: auto; 
    text-align: left;
    margin-right: 0;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo-section img {
    width: 80px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
}
