.cart-container {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-table th, .cart-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .cart-table th {
    background-color: #f4f4f4;
  }
  
  .product-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .cart-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .quantity {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .cart-footer {
    margin-top: 20px;
    text-align: right;
  }
  
  .total-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .checkout-btn {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .checkout-btn:hover {
    background: #333;
  }
  .continue-shopping-btn {
    background-color: #147099;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .continue-shopping-btn:hover {
    background-color: black;
    color: white;
  }
  