/* General Styling */
.show-all-products {
  padding: 50px 5%;
}

.main-heading {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.category-section {
  margin-bottom: 50px;
}

.category-title {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Product Card Styling */
.product-card {
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Product Image */
.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

/* Product Title */
.product-title {
  font-size: 18px;
  margin-bottom: 5px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Price */
.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discounted-price {
  color: #147099;
  font-weight: bold;
}

.base-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 5px;
}

.save-price {
  color: green;
  font-size: 14px;
}

/* Button Styling */
.view-details {
  display: inline-block;
  padding: 10px 20px;
  background-color: #147099;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-top: auto;
}

.view-details:hover {
  background-color: #0d5a75;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .main-heading {
    font-size: 28px;
  }
  .category-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 24px;
  }
  .category-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .show-all-products {
    padding: 30px 3%;
  }
  .main-heading {
    font-size: 20px;
  }
  .category-title {
    font-size: 18px;
  }
  .product-card {
    padding: 15px;
  }
  .product-image {
    max-width: 120px;
  }
}