.exploreproduct .exploreproductheading {
  display: flex;
  gap: 805px;
}
.exploreproduct .exploreproductheading h1 {
  width: 504px;
  height: auto;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0%;
  margin: 149px 0px 0px 228px;
  padding: 0%;
}
.exploreproduct .exploreproductheading a {
  height: auto;
  width: auto;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20.83px;
  text-align: center;
  margin: 150px 0px 0px 0px;
  background-color: #147099;
  color: #ffffff;
  gap: 16px;
  padding: 14.5px 0px 14.5px 24px;
  border-radius: 100px;
  display: block;
}
.exploreproduct .exploreproductheading a img {
  width: 12px;
  height: auto;
  padding-right: 24px;
  padding-left: 14px;
  padding-top: 6px;
}
.product h1 {
  width: 169px;
  height: 28px;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-left: 231px;
  margin-top: 109px;
}
.product {
  display: flex;
  gap: 24.9px;
  margin-top: 74px;
}
.product a {
  width: 94px;
  height: auto;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14.02px 98.16px 14.02px 98.16px;
  background-color: #147099;
  border-radius: 100px;
  color: #ffffff;
  margin:0px 0px 193px 0px;
}
.product h2 {
  width: 279px;
  height: 26px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 23.04px;
}
.product p {
  width: 99px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23.44px;
  letter-spacing: 0%;
  margin: 41px 0px 40px 0px;
}
.product .item1 {
  margin-left: 231px;
}
