body {
  width: 1920px;
  display: inline;
}
.header {
  position: relative;
  z-index: 1000;
}

.header .mainheader {
  display: flex;
  margin: 0%;
}
.header .mainheader nav {
  display: flex;
  margin: 42px 0px 38px 66px;
  gap: 23px;
}
.header .mainheader nav a {
  gap: 6px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20.83px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.header .mainheader nav img {
  width: 11px;
  height: 6px;
  gap: 0px;
  opacity: 0px;
  padding-left: 4px;
}
.header .mainheader .logo {
  margin-left: 425px;
  gap: 0px;
  opacity: 0px;
}
.header .mainheader .logo img {
  width: 110;
  height: 99;
}
.header .mainheader .contact {
  width: 87px;
  height: 21px;
  gap: 0px;
  opacity: 0px;
  margin-left: 591.71px;
  margin-top: 41.5px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 20.83px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #121212;
}
.header .mainheader .social {
  display: flex;
  width: 120px;
  height: 24px;
  gap: 31px;
  opacity: 0px;
  margin-top: 40px;
  margin-left: 40px;
}
.header .mainheader .social img {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.mainimage {
  background-image: url(/public/image/mainimage.png);
  gap: 0px;
  opacity: 1;
  height: 675px;
  width: auto;
}
.mainimage h1 {
  padding: 187px 577px 24px 581px;
  margin-top: 0%;
  width: 762px;
  height: 159px;
  top: 316px;
  left: 581px;
  gap: 0px;
  opacity: 0px;
  font-family: "Geologica";
  font-size: 50px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #ffffff;
  overflow: hidden;
}
.mainimage p {
  padding-left: 628px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 669px;
  top: 499px;
  left: 628px;
  gap: 0px;
  opacity: 0px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.mainimage .mainimagebutton {
  gap: 8px;
  opacity: 0px;
  border-radius: 100%;
  height: 56px;
  width: 274px;
  margin-bottom: 168px;
}
.mainimage h2 {
  margin: 44px 0px 0px 825px;
  padding: 22.5px 82.5px 22.5px 82.5px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  background-color: #ffffff;
  border-radius: 100px;
  width: 109px;
  gap: 0px;
  opacity: 0px;
  color: #147099;
}
.dogfoodbrands {
  width: 1024px;
  height: 130px;
  top: 832px;
  left: 448px;
  gap: 0px;
  opacity: 0px;
}
.dogfoodbrands h1 {
  width: 236px;
  height: 22px;
  margin: 24px 0px 0px 851px;
  gap: 0px;
  opacity: 0px;
  font-family: "Geologica";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.dogfoodbrands .dogfoodbrandslogo {
  display: flex;
  gap: 136px;
}
.dogfoodbrands .dogfoodbrandslogo .brand1 {
  width: 179px;
  height: 39px;
  gap: 0px;
  opacity: 0px;
  margin: 40px 0px 0px 448px;
}
.dogfoodbrands .dogfoodbrandslogo .brand2 {
  width: 122px;
  height: 97px;
  margin-top: 11px;
  gap: 0px;
  opacity: 0px;
}
.dogfoodbrands .dogfoodbrandslogo .brand3 {
  width: 167px;
  height: 75px;
  margin-top: 22px;
  gap: 0px;
  opacity: 0px;
}
.dogfoodbrands .dogfoodbrandslogo .brand4 {
  width: 148px;
  height: 47px;
  margin-top: 36px;
  gap: 0px;
  opacity: 0px;
}
.information {
  margin-top: 22px;
  width: auto;
  height: 859px;
  gap: 0px;
  opacity: 0px;
  background-color: #ebebeb;
  display: flex;
}
.information .left {
  flex: 1;
  background-color: #ebebeb;
  padding: 20px;
  text-align: center;
}

.information .rightinformation {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 104px;
}

.box {
  background-color: #ebebeb;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.leftinformation h1 {
  width: 471px;
  height: 106px;
  margin: 206px 0px 0px 286px;
  font-family: "Geologica";
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.leftinformation p {
  width: 387px;
  height: 247px;
  margin: 23px 0px 0px 314px;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.leftinformation h2 {
  margin: 20px 0px 0px 371px;
  padding: 22.5px 82.5px 22.5px 82.5px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #ffffff;
  border-radius: 100px;
  width: 109px;
  gap: 0px;
  opacity: 0px;
  background-color: #147099;
}
.leftinformation .leftbutton {
  opacity: 0px;
  border-radius: 100%;
  height: 56px;
  width: 274px;
}
.rightinformation .right1 {
  margin: 207px 0px 0px 169px;
  padding: 0%;
}
.rightinformation .right1 img {
  width: 60.74px;
  height: 55.47px;
  margin-bottom: 10.53px;
}
.rightinformation .right2 {
  margin: 180px 0px 0px 0px;
}
.rightinformation .right2 img {
  width: 57px;
  height: 76px;
  margin-bottom: 7px;
}
.rightinformation .right3 {
  margin: 0px 0px 0px 169px;
}
.rightinformation .right3 img {
  width: 49.11px;
  height: 52.92px;
  margin-bottom: 10.08px;
}
.rightinformation .right4 img {
  width: 64.18px;
  height: 42px;
  margin-bottom: 10px;
}
.rightinformation h3 {
  margin: 0px;
  width: 126px;
  height: 33px;
  font-family: "Geologica";
  font-size: 20px;
  font-weight: 400;
  line-height: 32.86px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.rightinformation p {
  margin: 4px 0px 0px 0px;
  width: 275px;
  height: 84px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
}
.rightinformation .right3 p {
  margin-bottom: 182px;
}
.seller .sellerheading {
  display: flex;
  gap: 943px;
}
.seller .sellerheading h1 {
  width: 365px;
  height: 35px;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0%;
  margin-left: 228px;
  margin-top: 211px;
  padding: 0%;
}
.seller .sellerheading a {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20.83px;
  text-align: center;
  margin: 226.5px 0px 0px 0px;
  background-color: #147099;
  color: #ffffff;
  gap: 16px;
  padding: 14.5px 0px 14.5px 24px;
  border-radius: 100px;
  display: block;
}
.seller .sellerheading a img {
  width: 12px;
  height: 12px;
  padding-right: 24px;
  padding-left: 14px;
  padding-top: 6px;
}
.fordog h1 {
  width: 169px;
  height: 28px;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-left: 231px;
  margin-top: 109px;
}
.fordog .dogitem {
  display: flex;
  gap: 24.9px;
  margin-top: 74px;
}
.fordog .dogitem a {
  width: 94;
  height: 10;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14.02px 98.16px 14.02px 98.16px;
  background-color: #147099;
  border-radius: 100px;
  color: #ffffff;
}
.fordog .dogitem h2 {
  width: 279px;
  height: 26px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 23.04px;
}
.fordog .dogitem p {
  width: 99px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23.44px;
  letter-spacing: 0%;
  margin: 41px 0px 40px 0px;
}
.fordog .dogitem .dogitem1 {
  margin-left: 231px;
}
.forcat h1 {
  width: 169px;
  height: 28px;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-left: 231px;
  margin-top: 109px;
}
.forcat .catitem {
  display: flex;
  gap: 24.9px;
  margin-top: 74px;
}
.forcat .catitem a {
  width: 94;
  height: 10;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14.02px 98.16px 14.02px 98.16px;
  background-color: #147099;
  border-radius: 100px;
  color: #ffffff;
}
.forcat .catitem h2 {
  width: 279px;
  height: 26px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 23.04px;
}
.forcat .catitem p {
  width: 99px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23.44px;
  letter-spacing: 0%;
  margin: 41px 0px 40px 0px;
}
.forcat .catitem .catitem1 {
  margin-left: 231px;
}
.forfish h1 {
  width: 169px;
  height: 28px;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  margin-left: 231px;
  margin-top: 109px;
}
.forfish .fishitem {
  display: flex;
  gap: 24.9px;
  margin-top: 74px;
}
.forfish .fishitem a {
  width: 94;
  height: 10;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14.02px 98.16px 14.02px 98.16px;
  background-color: #147099;
  border-radius: 100px;
  color: #ffffff;
}
.forfish .fishitem h2 {
  width: 279px;
  height: 26px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 23.04px;
}
.forfish .fishitem p {
  width: 99px;
  height: 18px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 23.44px;
  letter-spacing: 0%;
  margin: 41px 0px 40px 0px;
}
.forfish .fishitem .fishitem1 {
  margin-left: 231px;
}
.aboutus {
  background-color: #ebebeb;
  width: auto;
  height: 1242px;
  margin-top: 212px;
}
.aboutus .aboutusdetails h1 {
  width: 571px;
  height: 54px;
  padding-top: 166px;
  margin: 0px 0px 0px 712px;
  font-family: "Geologica";
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 1.1px;
  text-align: center;
}
.aboutus .aboutusdetails p {
  width: 1166px;
  height: 163px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: center;
  margin: 53px 0px 0px 378px;
}
.aboutus .aboutusdetails .aboutusimg {
  margin-top: 125px;
  margin-left: 231px;
}
.aboutus .aboutusdetails .aboutusimg .aboutimg1 {
  margin-bottom: 80.19px;
}
.aboutus .aboutusdetails .aboutusimg .aboutimg2 {
  margin-bottom: 0px;
}
.aboutus .aboutusdetails .aboutusimg .aboutimg3 {
  margin-bottom: 101.15px;
}
.aboutus .aboutusdetails .aboutusimg .aboutimg4 {
  margin-bottom: 0px;
}
.aboutus .aboutusdetails .aboutusimg .aboutimg5 {
  margin-bottom: 101.15px;
}
.customer {
  width: auto;
  height: 846px;
  background-color: #ffffff;
}
.customer .customermain h1 {
  width: 692px;
  height: 60px;
  font-family: "Geologica";
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin: 12.38px 0px 0px 614px;
}
.customer .customermain img {
  margin-top: 151px;
  margin-left: 888px;
}
.customer .customermain p {
  margin: 8px 0px 0px 776px;
}
.customer .customerframe {
  background-color: #ebebeb;
  width: 1126px;
  height: 294px;
  margin-top: 33px;
  margin-left: 397px;
  border-radius: 20px;
}
.customer .customerframe .customerdetails {
  display: flex;
  margin: 0%;
  padding-left: 37px;
  padding-top: 39px;
  width: 1053.74px;
  height: 212px;
}
.customer .customerframe .customerdetails img {
  padding-top: 19px;
  padding-left: 121px;
  width: 88.99px;
  height: 14.71px;
  border-radius: 0.69px;
}
.customer .customerframe .customerdetails h1 {
  margin-top: 7.27px;
  margin-left: 83.5px;
}
.customer .customerframe .customerdetails p {
  margin-left: 37px;
  margin-top: 12px;
  width: auto;
  height: 72px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
